@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 360 Degree Image */
.image-wrapper {
  min-width: 600px;
  min-height: 400px;
  overflow: hidden;
}

/* Controls */
.controls {
  margin: 0px 0px 10px 0px;
}

.buttons {
  text-align: center;
}

.rotate-image {
  display: flex;
  justify-content: center;
}
.rotate-image img {
  height: 102px;
  width: 102px;
}

.model-colour {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding-bottom: 10px;
}

.toggle-button {
  border: none;
  font-size: 0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  cursor: pointer;
}
.toggle-button.graphite {
  background-color: #2f2f2f;
}
.toggle-button.black {
  background-color: #1c1c28;
}
.toggle-button.grey1 {
  background-color: #e4e4ec;
}
.toggle-button.grey2 {
  background-color: #c7c9d8;
}
.toggle-button.red {
  background-color: #e53535;
}
.toggle-button.blue1 {
  background-color: #0487d9;
}
.toggle-button.orange {
  background-color: #d14508;
}
.toggle-button.red2 {
  background-color: #e53535;
}
.toggle-button.blue2 {
  background-color: #004fc5;
}
.toggle-button.active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}


@media (min-width: 350px) and (max-width: 480px) {
  .image-wrapper {
    min-width: 600px;
    min-height: 225px;
    overflow: hidden;
  }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    .image-wrapper {
      min-width: 600px;
      min-height: 280px;
      overflow: hidden;
    }
    }